@font-face {
    font-family: 'Todays';
    src: url('Todays.woff2') format('woff2'),
        url('Todays.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Todays';
    src: url('Todays-Bold.woff2') format('woff2'),
        url('Todays-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

