/*font*/
@font-face {
    font-family: 'Haunting Attraction';
    src: url('HauntingAttraction.woff2') format('woff2'),
        url('HauntingAttraction.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aesthico';
    src: url('Aesthico.woff2') format('woff2'),
        url('Aesthico.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Finger Line';
    src: url('FingerLineRegular.woff2') format('woff2'),
        url('FingerLineRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STRRETCH SANS FREE';
    src: url('STRRETCHSANSFREERegular.woff2') format('woff2'),
         url('STRRETCHSANSFREERegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*maincontent*/
body{
    background-color: #000000;
}


.time{
    font-size: 6px;
    color:rgb(255, 255, 255);
    font-family: 'STRRETCH SANS FREE';
}
div{
    text-align: left;
    font-family: 'STRRETCH SANS FREE';
    font-size: 15px;
    color:#ffffff;
}
.content{
  background-color: rgba(128, 128, 128, 0.5);
  width: 700px;
  text-align: left;
  padding-top: 240px;
  padding-left:10px;
  padding-right:10px;
}



/*invisible text
.invisible-container{
    padding: 20px;
    display: none;
}
*/


/*hover effect*/
.hover-text {
    font-family:'STRRETCH SANS FREE';
    color: #e4fff2;
    transition: background-color .1s;
    text-decoration: underline;
  }

a:hover{
    display:contents;
    color: #000000;
    font-family: 'STRRETCH SANS FREE';
    font-style:italic;
  }

a:hover + .invisible-container {
    display:block;
  }


/*scroll text*/
.scroll-container {
    border: 0px solid black;
    border-radius: 5px;
    height:410px;
    width: 550px;
    overflow: hidden;
    text-align: center;
    font-family: 'STRRETCH SANS FREE';
    font-size: 70px;
    color:#ffffff;
    padding-top: 4em;
  }
  
.scroll-down-text {
    font-family: 'STRRETCH SANS FREE';
    height: 100%;
    text-align: left;
    color:#ffffff;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 35s linear infinite;
    animation: my-animation 35s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }


  /* nav*/
  /*hoverovertext*/
button {
    width: 100%;
    display: contents;
  }
  
  .centered-content{
    padding:80px;
    border:3px;
    align-items: center;
}

#paw{
    display: flex;
}

div{
    text-align: left;
}

/* arrow up and down */
.arrow {
    width: 30px;
    height: auto;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.arrow .paw-open {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.arrow:hover .paw-open {
    display: inline;
    width: 80px;
}
.arrow:hover .paw-close {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

img{
    width:50px;
    position: absolute;
}


span{
  animation: disappear 7s ease forwards;
}

@keyframes disappear {
  from { opacity: 3; }
  to { opacity: 0; }
}

#title{
  font-size: 100px;
  font-size:30px;
    font-family: 'Aesthico';
      text-decoration: none;
      color:rgba(255, 255, 255, 0.863);
      padding-left:450px;
      
}
  /*running hoveroverlink*/
  a{
    font-size:30px;
    font-family: 'Aesthico';
      text-decoration: none;
      color:rgba(255, 255, 255, 0.863);
  }
  /*hover effect*/
.hover-text {
  font-family:'STRRETCH SANS FREE';
  color: #ffffff;
  transition: background-color .1s;
  font-size: 10px;
}

a:hover{
  display:contents;
  color: #610c0c;
  font-family: 'STRRETCH SANS FREE';
  font-style:italic;
  text-decoration: underline;
}