body{
    background-color:#546d6d;
    color:aliceblue;
    font-size: 40px;
}

.transparent{
    background:transparent;
    width:50px;
    align-items: center;

}

.index-centered-content{
    padding: 300px;
    border: 30px;
    align-items: center;

}

.centered-content{
    padding:80px;
    border:3px;
    align-items: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

div{
    text-align: center;
}



/* arrow up and down */
.arrow {
    width: 30px;
    height: auto;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.arrow .paw-open {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.arrow:hover .paw-open {
    display: inline;
}

.arrow:hover .paw-close {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

img{
    width:50px;
}
