/*fonts*/
@font-face {
  font-family: 'Haunting Attraction';
  src: url('HauntingAttraction.woff2') format('woff2'),
      url('HauntingAttraction.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aesthico';
  src: url('Aesthico.woff2') format('woff2'),
      url('Aesthico.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Finger Line';
  src: url('FingerLineRegular.woff2') format('woff2'),
      url('FingerLineRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STRRETCH SANS FREE';
  src: url('STRRETCHSANSFREERegular.woff2') format('woff2'),
       url('STRRETCHSANSFREERegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*fonts*/
@font-face {
    font-family: 'Haunting Attraction';
    src: url('HauntingAttraction.woff2') format('woff2'),
        url('HauntingAttraction.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    background-color:rgb(0, 0, 0);
    color:aliceblue;
    font-size: 40px;
}

.transparent{
    background:transparent;
    width:50px;
    align-items: center;

}

.index-centered-content{
    align-items: center;
}

.centered-content{
    padding:80px;
    border:3px;
    align-items: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

div{
    text-align: center;
}



/* arrow up and down */
.arrow {
    width: 30px;
    height: auto;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.arrow .paw-open {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.arrow:hover .paw-open {
    display: inline;
    width: 80px;
}

.arrow:hover .paw-close {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

img{
    width:50px;
    position: absolute;
}

/*hoveroverlink*/
a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.863);
}

a:hover {
    color:#e4fff2;
}

/*hoverovertext*/
span{
    font-size:140px;
    font-family:Haunting Attraction;
}

button {
    width: 100%;
    display: contents;
  }


/*textflow*/
div{
    padding-top: 3px;
    font-size: 40px;
}
#scroll-container {
    border: 0px rgb(255, 255, 255);
    border-radius: 30px;
    overflow: hidden;
  }
#scroll-text {
  font-family: 'Aesthico';
  font-size: 19px;
  padding:18rem;
  color:rgb(255, 255, 255);
  

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
    
    /*overflow text*/
    white-space: nowrap;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }#scroll-text {

  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 12s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

#scroll-text {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}