
/* /////////////////////////////////// NAV BAR ///////////////////////////////////// */
.home{
    font-family: 'Lovers Quarrel', cursive;
    font-size: calc(0.75em + 4vw);
    text-decoration: none;
    color:black;
}

hr{
    color:black;
    height:calc(0.1em + 0.1vw);
    background-color:black;
    margin-top: -18px;
    position: relative;
}

.topnav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin:10px;
}


span{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navimg{
    width: calc(0.75em + 3vw);

    margin-top: 10px;

}


/* /////////////////////////////////// MEDIA SCREEN ///////////////////////////////////// */

@media only screen and (max-width: 800px) {
    hr{
        margin-top: -10px;
    }
  }


/* //////////////////////////////// TESTING SORT SYSTEM //////////////////////////////// */

.categoryTag {
    padding:4px 8px;
    border: 1px solid black;
    margin: 4px;
  } 
  
   .Container{
    padding:16px 24px;
    border:1px solid black;
    margin:8px;
    background-color: pink;
    
  }   
