
/* /////////////////////////////////// NAV BAR ///////////////////////////////////// */
.home{
    font-family: 'Lovers Quarrel', cursive;
    font-size: calc(0.75em + 4vw);
    text-decoration: none;
    color:black;
}

hr{
    color:black;
    height:calc(0.1em + 0.1vw);
    background-color:black;
    margin-top: -18px;
    position: relative;
}

.topnav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin:10px;
}


span{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navimg  {
    width: calc(0.75em + 3vw) !important;
    margin-top: 10px !important;
    margin:10px;

}




/* /////////////////////////////////// MEDIA SCREEN ///////////////////////////////////// */

@media only screen and (max-width: 800px) {
    hr{
        margin-top: -10px;
    }
  }


/* //////////////////////////////// JS CSS//////////////////////////////// */

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-family: 'Metamorphous', cursive;
    border:none;
    outline:none;
    color:black;
    background-color: white;
    cursor: pointer;
    display:block;
    margin-left:60px;
  } 

#resetButton{
    font-size: 40px;
    margin-left: 10px; 
    font-family: 'Lovers Quarrel', cursive;

    background:none;
    border:none;
    margin:0;
    padding:0;

    place-self: end;
}

em{
    display: flex;
    justify-content: space-between;
}

img{
    width: 300px;
    height:fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    margin:20px; 
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 30px;
    margin-left:10px;
    font-family: 'Metamorphous', cursive;
}

button:hover{
    text-decoration: underline;
}

#container{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}    

