p {
    font-size: 3em;
    font-family: Aclonica;
    color:rgb(224, 221, 172)
}

body {
    margin:4px;
    background: rgb(131, 153, 131);
}

#container {
    width: 90vw;
    height: 90vh;
}

#container-two {
    width: 30vw;
    height: 90vh;
    float:left;
}

#container-one {
    width: 60%;
    height: 90vh;
    float:right;
}

.bubble {
    position: absolute;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

img{
    width: 20em;
    height:auto;
    float:left;
}

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(35, 80, 35);
    
    }
    h1 {
        color: rgb(143, 15, 15);
        padding-top: 13.5rem;
        text-align: center;
        font-size: 3.8rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    }