p {
    font-size: 3em;
    font-family: Aclonica;
    color:rgb(224, 221, 172)
}

body {
    margin:4px;
    background: green;
}

#container {
    width: 90vw;
    height: 90vh;
}

#container-two {
    width: 30vw;
    height: 90vh;
    float:left;
}

#container-one {
    width: 60%;
    height: 90vh;
    float:right;
}

.bubble {
    position: absolute;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

img{
    width: 20rem;
    height:auto;
    float:left;
}
