body{
    color:rgb(255, 187, 60);
    font-size:9px;
    font-family: 'Aclonica', sans-serif;
}

audio{
    background-color: rgb(255, 218, 149);
}



p{
    font-size: 12px;
}
  
a{
    font-size: 50px;
}

hr {
    height:3px;
    width: 1200px;
    border-width:0;
    background-color:#fdbb41;
  }

.item1 { 
    grid-area: header;
    text-align: center;
}

.item2 { 
    grid-area: menu;
}


#item3 { 
    grid-area: main; 
    text-align: center;
}

.item4 { 
    grid-area: right; 
}

h1{   
    font-size: 20px;
    text-align: right;
}

.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main right right right'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  padding: 10px;
}

div{
    text-align: right;
}

.part1{
    display:flex;
    align-items: flex-end;
}

.part2{
    text-align:left;

}

#theitem1{
    font-size: 40px;
    text-align: center;
}

#theitem2{
    font-size: 50px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
}

#lyrics{
    font-size:12px;
    font-weight: 10px;
    text-align: right;
}

#recipe{
    font-size: 20px;
    text-align: left;
    color:rgb(255, 136, 0);
}

#list{
    font-size: 12px;
    text-align: left;
}

ol{
    text-align:left;
    font-size:medium;
    display:inline;
    flex-direction:column;

}

ul{
    text-align:left;
    font-size:30px;
    color:rgb(255, 136, 0);
    display:list-item;
    list-style-type:none;
    padding-right: 50px;
}

