@font-face {
    font-family: 'Haunting Attraction';
    src: url('HauntingAttraction.woff2') format('woff2'),
        url('HauntingAttraction.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

