#image-group{
    width: 300px;
    height:auto;

}

h1{
    text-align: center;
    font-size: 200px;
}
h3{
    text-align: center;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    body {
            font-size: 50px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 900px) {
    body {
            font-size: 30px;
    }
  }
