/* Fonts */
  @font-face {
  font-family: 'Akaya Telivigala';
  src: url('AkayaTelivigala-Regular.woff2') format('woff2'),
      url('AkayaTelivigala-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Todays';
  src: url('Todays.woff2') format('woff2'),
      url('Todays.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Todays';
  src: url('Todays-Bold.woff2') format('woff2'),
      url('Todays-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Body */
h1{
  font-family: 'Akaya Telivigala';
  font-size: 90px;
  text-align: center;
  color:rgb(175, 111, 122);
  display:block;
}
h2{
  font-family:'Todays-Bold';
  font-size: 40px;
  color:pink;
  text-align: center;
}

.container{
  border-radius: 50px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box1{
  border:2em;
  width: 35em;
  height: 2300px;
  background-color: rgb(126, 126, 167);
  padding-right: 2em;
  border-radius: 40px;

}
.box2{
  width: 35em;
  background-color: rgb(167, 163, 126);
  padding-right: 2em;
  border-radius: 40px;
  padding-bottom: 3em;
}
.box3{
  width: 35em;
  background-color: rgb(126, 167, 160);
  padding-right: 2em;
  border-radius: 40px;
  padding-bottom:3em;
  padding-top: 2em;
}
.box4{
  width:max-content;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 40px;
  padding-top: 2em;
  background-color: rgb(167, 142, 126);
}

img{
  width: 500px;
  align-items: center;
}
.description{
    color:pink;
    font-family:'Todays-Bold';
}

.conclusion{
  font-family:'AkayaTelivigala-Regular', sans-serif;
  font-size: 25px;
}

.content{
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.description{
  text-align: center;
}

p{
  align-items: center;
  padding-left: 3em;
}


/* Head Bar */
.navbar{
  background-color: rgb(155, 139, 139);
  justify-content: center;
  margin: 0;
  padding: 0.1em;
  overflow: hidden;
  border-radius: 20px;
  border-width: 0.1em;
  position:relative;
}

ul{
  justify-content: center;
  position: sticky;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

li {
  float:unset;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:.8em;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(126, 126, 126);
}

.active {
  background-color: pink;
  border-radius: 60px;
}



/* Grid */
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main right right right right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}






