@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}

/* Fonts */
@font-face {
    font-family: 'Akaya Telivigala';
    src: url('AkayaTelivigala-Regular.woff2') format('woff2'),
        url('AkayaTelivigala-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Todays';
    src: url('Todays.woff2') format('woff2'),
        url('Todays.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Todays';
    src: url('Todays-Bold.woff2') format('woff2'),
        url('Todays-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  
img{
    width: 100%;
    align-items: center;
  }

* {
    box-sizing: border-box; 
}

body{
  background-color: rgb(223, 217, 217);
}

#grid-container1 {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 5px;
    padding: 20px;
}
  
#grid-container1 > div {
    border: solid black 0px;
    border-radius: 15px;
    padding: 5%;
    text-align: left;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

.inspiration {
  background-color: rgb(126, 126, 167);
}

.process{
  background-color: rgb(167, 163, 126);
}

.concept{
  background-color: rgb(126, 167, 160);
}

.conclusion{
  background-color: rgb(167, 142, 126);
}


.navbar{
  background-color: pink;
}

.processlist {
  text-align: right;
}


/* Head Bar */
.navbar{
    background-color: rgb(155, 139, 139);
    justify-content: center;
    margin: 0;
    padding: 0.1em;
    overflow: hidden;
    border-radius: 20px;
    border-width: 0.1em;
    position:relative;
  }
  
  ul{
    justify-content: center;
    position: sticky;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }
  
  li {
    float:unset;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:.8em;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(126, 126, 126);
    border-radius: 30px;
  }
  
  .active {
    background-color: pink;
    border-radius: 60px;
  }

  /* Body */
h1{
    font-family: 'Akaya Telivigala';
    font-size: 90px;
    text-align: center;
    color:rgb(175, 111, 122);
    display:block;
  }

h2{
    font-family:'Todays-Bold';
    font-size: 40px;
    color:pink;
    text-align: center;
  }

.description{
    color:pink;
    font-family:'Todays-Bold';
    text-align: center;
}

.conclusion{
  font-family:'AkayaTelivigala-Regular', sans-serif;
  font-size: 25px;
}

.content{
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

p{
  align-items: center;
  padding-left: 3em;
}